body{
    background-color:black;
    
}
header{
    background-color: #E1E5F2;
    width: 101.2%;
    margin-left: -8px;
    margin-right: -5px;
    margin-top: -8px;
    font-size:40px;
    font-family: 'Birthstone', cursive;
    word-spacing: 4px;
    color: #C03221;
    
    
    
}
nav{
    background-color: #C03221;
    margin:auto;
    width:40%;
    border-radius: 5px;
    
}
#nav li{display: inline;
        font-size: 20px;
        margin:45px;
        
        
        
        
}
#nav a{
    color:#E1E5F2;
    text-decoration:none;
    font-family: 'Gemunu Libre', sans-serif;
    text-align: center;
}
#nav a:hover{
    color:black;
}
#me{
    float:left;
    position:fixed;
    border-radius: 2px;
    
}
main{
    background-color: #C03221;
    color:#E1E5F2;
    font-family: 'Gemunu Libre', sans-serif;

}
.about{
    width:40%;
    margin: auto;
    padding: 10px;
    letter-spacing: 2px;
    border-radius: 5px;
    margin-top: 60px;
    
}
.Education{
    width:40%;
    margin: auto;
    padding: 10px;
    letter-spacing: 2px;
    border-radius: 5px;
    margin-top: 60px;
    
}
#ed{
    text-align: center;
    font-size: 50px;
}
blockquote{
    font-family: 'Birthstone', cursive;
    font-size: 20px;
    background-color: black;
    border-radius: 2px;
    text-align: center;
}
.portfolio{
    width:40%;
    margin: auto;
    padding: 10px;
    letter-spacing: 2px;
    border-radius: 5px;
    margin-top: 60px;
}
#port{
    text-align: center;
    font-size: 50px;
}    
#calc{
    margin-left: 25%;
}
#calc:hover{
    border: solid #E1E5F2 2px ;
    border-radius: 3px;
}
#calend{
    margin-left: 25%;
}
#calend:hover{
    border: solid #E1E5F2 2px ;
    border-radius: 3px;
}
#com li{
    list-style: none;
    display:inline;
}
#fb{
    width:10%;
    
}
#fb:hover{
    border:solid #E1E5F2 2px;
}
#link{
    width:9%;
   
}
#link:hover{
    border:solid #E1E5F2 2px;
}